
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins' , sans-serif;
}

#img1{
    position: absolute;
    top: 50px;
    left: 50px;
}